img {
  max-height: 150px;
  width: 100%;
}

figure {
  flex: 1 1 200px;
  margin: 5px 10px;
}

h3 {
  font-family: 'Georgia', serif;
  font-size: 16px;
}

.App {
  max-width: 1000px;
  margin: 0 auto;
}

.image {
  font-size: 12px;
}

.graphic p {
  font-size: 12px;
  color: #666;
}

.caption {
  color: #666;
}

.credit {
  color: #999;
  text-transform: uppercase;
}

@media only screen and (max-width: 500px) {
  figure {
    flex: 1 1 100%;
  }

  img {
    max-height: fit-content;
  }
}